################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RTree/.vs/RTree
/RTree/src/RTree.Business/obj
/RTree/src/RTree.Data/obj
